torch>=2.7.1
torchvision>=0.22.1
transformers==4.46.0
tokenizers==0.20.3
pydantic==2.10.6
numpy==1.26.0
deepspeed==0.17.1
fastapi==0.115.6
datasets==2.16.1
scikit-learn==1.2.2
sentencepiece==0.1.99
accelerate==1.7.0
gradio==3.35.2
gradio_client==0.2.9
opencv-python==4.8.0.74
peft==0.15.2
einops==0.6.1
einops-exts==0.0.4
timm==0.9.12
pywsd==1.2.4
httpx==0.24.0
bitsandbytes==0.41.0
decord==0.6.0
openai==1.8.0
webdataset==0.2.86
openpyxl==3.1.2
pytorchvideo==0.1.5
nltk==3.3
loguru
hydra-core
shortuuid
termcolor
s2wrapper@git+https://github.com/bfshi/scaling_on_scales