{% if include_readme %}
.. include:: {{ readme_path }}
   :parser: myst_parser.sphinx_
{% endif %}


{{ title }}
{{ "-" * title|length }}

{% if getting_started_doc %}
.. toctree::
    :maxdepth: 3

    {{ getting_started_doc }}
{% endif %}

{% if overview_doc %}
.. toctree::
    :maxdepth: 3

    {{ overview_doc }}
{% endif %}

{{gallery_toctree}}

{% if autoapi_index %}
.. toctree::
    :maxdepth: 3

    {{ autoapi_index }}
{% endif %}
